/* BASE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

:root {
  /* COLOR */
  --main-text: hsl(217, 19%, 35%);
  --block-text: hsl(214, 17%, 51%);
  --aux-text: hsl(212, 23%, 69%);
  --background: hsl(210, 46%, 95%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  background-color: #edf2f8;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
}

/* Container */

.container {
  position: relative;
  margin: auto;
  border-radius: 1rem;
  max-width: 330px;
  background-color: #fff;
  overflow: hidden;
}

.main-img {
  width: 100%;
  position: relative;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

/* Content */

.content {
  /*! */
  position: relative;
  margin-top: -4rem;
  padding: 2.5rem 0;
  padding-bottom: 1.5rem;
  background-color: #fff;
}

.main-text {
  font-weight: 700;
  color: var(--main-text);
  margin-bottom: 1.5rem;
}

.main-text p {
  font-size: 1.1rem;
}

.aux-text {
  color: var(--block-text);
  margin-bottom: 1.5rem;
}

.aux-text p {
  font-size: 1rem;
}

.user {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  width: 100%;
  margin-top: 2.5rem;
}

.avatar {
  width: 60%;
  border-radius: 50%;
}

.name {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--main-text);
}

.date {
  font-size: 0.8rem;
  color: var(--aux-text);
}

.share {
  position: relative;
  z-index: 10;
  width: 2.2rem;
  justify-self: flex-end;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text,
.aux-text,
.user {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.tooltip {
  position: absolute;
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  background-color: var(--main-text);
  transition: margin-top 0.3s ease-in;
}

.tooltip_title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--aux-text);
  margin-right: 1.5rem;
}

.icon {
  margin-right: 1.5rem;
  cursor: pointer;
}

/* Event */

.action {
  margin-top: -15%;
  transition: 0.3s ease-out;
}

.active {
  background-color: var(--block-text);
}

.active img {
  filter: brightness(0) invert(1);
}

/* FOOTER */

footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: 0.5fr 0.65fr;
    align-items: center;
    max-width: 750px;
    overflow: visible;
  }

  .main-img {
    border-radius: 1rem 0 0 1rem;
  }

  .main-text p {
    font-size: 1.25rem;
  }

  .aux-text p {
    font-size: 1.02rem;
  }

  .content {
    height: 100%;
    margin: 0;
  }

  .icon {
    margin: auto;
  }

  .tooltip {
    position: absolute;
    width: 60%;
    margin: auto;
    margin-top: -28%;
    margin-left: 60%;
    visibility: hidden;
    border-radius: 1rem;
    opacity: 0;

    transition: opacity 0.3s ease-in;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    top: 93%;
    left: 46%;
    height: 10px;
    width: 10px;
    background-color: var(--main-text);
    transform: rotate(45deg);
  }

  .tooltip_links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  /* Show the tooltip content */
  .action {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-out;
  }
}
